/* main CSS */

*    {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
     }

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
font-family: "Bilbo Swash Caps", Garamond, sans-serif;
}

/*<-------NAVIGATION -------->*/

.nav a {
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline;
	background: #05b864;
	margin: -10px;
	border-radius: 100px;
}
.nav li {
	display: inline-block;
	padding: 20px;
	float: left;
}

.navbar {
	background: rgba(208, 206, 195, 0.6);
	display: inline;
	width: auto;
}
.navbar-left {
	margin: 0 0 0 25%;
}
.active {
	background: #05b864;
}
#navbar nav a.menu-icon {
  display: none;
}
.main-icon {
	display: none;
	visibility: none;
}

/*<-------FIRST SECTION -------->*/
#first-section {
	background: url(../images/Twitter_Cover.png) no-repeat center center;
	background-size: cover;
	height: 700px;
/*	border-bottom: 30px solid #05b864;
*/	display: block;
}

.box {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
    position: relative;
    color: white;
}

.box h1 {
	margin: 250px 0 0 0;
	font-size: 60px;
	text-transform: uppercase;
/*	color: #05b864;
*/}

.box h2 {
	font-size: 4.2rem;
	color: #05b864;
	font-size: 36px;
}
.box h3 {
	font-size: 1.68rem;
	font-size: 24px;
	color: white;
}

.btn-success {
	background-color: #05b864;
	margin: 20px 0 0 0;
	padding: 10px 30px;
	/*font-family: "Bilbo Swash Caps", Garamond, sans-serif;*/
}

/*<-----INTRO-------->
*/#intro {
	background-color: white;
	height: 500px;
/*	border-bottom: 30px solid #05b864;
*/}
.bio {
	height: 400px;
	width: auto;
	display: inline-block;
	text-align: center;
	margin: 80px 0 0 0;
}
.bio h2 {
	color: #05b864;
	font-size: 36px;
}
.bio h3 {
	/*margin:	40px 0 10px 0;
	padding: 10px;*/
	color: #05b864;
}

.bio p {
	margin: 0 0 50px 0;
}

.bio img {
	height: 96px;
	width: 96px;
	border-radius: 110px;
	border: 1.5px solid #555555;
	margin: 1.5em auto;
	-webkit-border-radius: 96px;
	-moz-border-radius: 96px;
	-ms-border-radius: 96px;
	-o-border-radius: 96px;
}
/*<-------Profile-------->*/

#profile {
	height: 600px;
	width: auto;
	display: inline;
	background: #05b864;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}

#profile .row {
	background: #05b864;
	margin-right: 0;

}

.left img {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
	text-align: center;
}

.right {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: #05b864;
	display: inline-block;
	max-width: 100%;
	max-height: auto;
	float: none;
	vertical-align: center;
	clear: both;
	margin: 0;
	padding: 0;
	color: white;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
.right h3 {
	padding: 50px 20px 0px 0px;
	clear: both;
	font-size: 36px;
}

.right p {
	padding: 10px 20px 0px 0px;
	clear: both;
}


/*<-------WORK -------->*/
#work {
	background: url(../images/polygon_background/3.jpg) no-repeat center center;
	background-size: cover;
	height: 700px;
/*	border-bottom: 30px solid #05b864;
*/	display: block;
	/*background-color: #E8E8E7;
	height: 700px;*/
/*	border-bottom: 30px solid #05b864;
*/
}

#work h2 {
	padding: 0 0 25px 0;
/*	border-bottom: 1px dotted gray;
*/
	color: #05b864;
	font-size: 48px;
}

#work h3 {
	text-decoration: none;
	color: #05b864;
	font-size: 24px;
}

#work p {
	color: black;
}

.featured-work {
	height: 400px;
	width: auto;
	display: inline;
	text-align: center;
	margin: 100px 0 10px 0;

}

.featured-work img {
	width: 175px;
	max-width: 175px;
	height: 125px;
	max-height: 125px;
	background-size: cover;
	margin: 1.5em;
	border: 1px solid #05b864;
}

.project-card {
	background: #fafafb;
	padding: 15px;
	margin: 0 0 10px 0;
	border-radius: 50px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.project-card:hover{
	background-color: gray;
}
.highlight {
	background: #05b864;
}
/*<-------Mac Mock -------->*/
.mac-mock {
	background: url(../images/mac_mock_6.png) no-repeat center center;
	background-size: cover;
	height: 500px;
/*	border-bottom: 30px solid #05b864;
*/	display: block;
	width: 100%;
	max-width: 100%;
}

/*<-------CONTACT FORM-------->*/

#contact-form {
	background: url(../images/polygon_background/10.jpg) no-repeat center center;;
	height: 270px;
	font-family: "Bilbo Swash Caps", Garamond, sans-serif;
	text-align: center;
	padding: 20px 0 0 0;
}


/*<-------CONNECT-------->*/

.connect {
	background-color: white;
	height: 300px;
/*	border-bottom: 30px solid #05b864;
*/}

.connect h4 {
	padding: 0 0 50px 0;
	color: black;
	text-decoration: none;
}

.connect h2 {
	color: #05b864;
}

.details {
	height: auto;
	width: 75%;
	text-align: center;
	margin: 2.5% 0 0 12.5%;
	padding: 0 0 50px 0;
}


.connect img {
	height: 96px;
	width: 96px;
	border-radius: 110px;
	border: 1.5px solid #555555;
	margin: 1.5em auto;
	-webkit-border-radius: 96px;
	-moz-border-radius: 96px;
	-ms-border-radius: 96px;
	-o-border-radius: 96px;
}
/*<-------FOOTER -------->*/
.footer {
	background-color: #E8E8E7;
	height: auto;
	text-align: center;

}

.footer p {
	margin: 25px 0 25px 0;
}